<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="What needs to be done?" autofocus>
    </header>
    {{outlet}}
    <footer id="footer">
        {{#if model.length gt 0}}
            <span id="todo-count">
                <strong>{{model.length}}</strong> items left
            </span>
            <ul id="filters">
                <li>
                    {{#link-to "index"}}All{{/link-to}}
                </li>
                <li>
                    {{#link-to "active"}}Active{{/link-to}}
                </li>
                <li>
                    {{#link-to "completed"}}Completed{{/link-to}}
                </li>
            </ul>
            <button id="clear-completed">Clear completed</button>
        {{/if}}
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>
        Created by
        <a href="http://github.com/cibernox">Miguel Camba</a>,
        <a href="http://github.com/addyosmani">Addy Osmani</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
